<footer id="footer">
    <div class="mui-container-fluid">
        <%= config['wiki'].title %> 正在使用 <a href="https://github.com/phoenixlzx/MinoriWiki" target="_blank">MinoriWiki</a>
    </div>
</footer>

<script>
    hljs.initHighlightingOnLoad();

    let tables = document.getElementsByTagName("table");
    for(let i=0;i<tables.length;i++) {
        tables[i].classList.add("mui-table","mui-table--bordered");
    }

    var sidedrawer = document.getElementById("sidedrawer");

    document.getElementsByClassName("js-show-sidedrawer")[0].onclick = showSideDrawer;
    document.getElementsByClassName("js-hide-sidedrawer")[0].onclick = hideSideDrawer;

    let foldEls = document.getElementsByClassName("fold");
    for (let i = 0; i < foldEls.length; i++) {
        let sb = foldEls[i].nextElementSibling;
        if (sb != undefined) {
            sb.classList.add("mui--hide");
            foldEls[i].onclick = foldElementHandler;
        }
    }

    function showSideDrawer() {
        var options = {
            onclose: function() {
                sidedrawer.classList.remove("active");
                document.body.append(sidedrawer);
                $sidedrawerEl
                    .removeClass('active')
                    .appendTo(document.body);
            }
        };
        let overlayEl = mui.overlay('on', options);
        overlayEl.append(sidedrawer);
        setTimeout(function() {
            sidedrawer.classList.add("active");
        }, 20);
    }

    function hideSideDrawer() {
        document.body.classList.toggle("hide-sidedrawer");
    }

    function foldElementHandler(ev) {
        ev.target.nextElementSibling.classList.toggle("mui--hide");
    }
</script>

<% if (config.theme.valine) { %>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
new Valine({
	el: '#vcomments',
	appId: '<%= config.theme.valine.appid %>',
	appKey: '<%= config.theme.valine.appkey %>',
	placeholder: '<%= config.theme.valine.placeholder %>',
	visitor: <%= config.theme.valine.visitor %>
})
</script>
<% } %>

</body>
</html>