<% categories.forEach(function(category) { %>
<li>
    <strong class="fold"><%= category.name %></strong>
    <ul>
        <% category.pages.forEach(function(p) { %>
        <li>
            <a href="<%= config['base'].path %><%= config['dir'].page %><%= p.link %>/" target="_self">
                <%= p.title %>
            </a>
        </li>
        <% }) %>
    </ul>
</li>
<% }) %>