<%- include _header %>
<div id="content-wrapper">
	<!-- Main content goes here -->
	<div class="mui--appbar-height"></div>
	<div class="mui-container-fluid mui-col-sm-10 mui-col-sm-offset-1">
		<br>
		<h1 class="page-title">
			<%= page.title %>
			<div class="category mui--pull-right">
				<span class="label label-primary"><%= page.category %></span>
				<% if (config.theme.valine && config.theme.valine.visitor) { %>
				<span id="/page<%= page.link %>/" class="leancloud_visitors label label-primary">
					<em class="post-meta-item-text">阅读量 </em>
					<i class="leancloud-visitors-count">N/A</i>
				</span>
				<% } %>
			</div>
		</h1>
		<div class="mui-panel mui--hidden-md mui--hidden-xs mui--hidden-sm" id="toc">
			<h4>目录</h4>
		</div>
		<div class="row" id="article">
			<%- page.content %>
		</div>
		<div class="space-bottom"></div>
	</div>
	<div class="mui-container-fluid mui-col-sm-10 mui-col-sm-offset-1">
		<div class="row mui-panel">
			<%- include _comment.ejs %>
		</div>
	</div>
</div>
<script>
	function generateTOC() {
		let article = document.getElementById("article");
		let nodeList = [];
		let parse = function parseLinkNode(layer, nd) {
			let link = nd.firstChild;
			if (link.nodeName.toLowerCase() == "a") {
				let href = link.getAttribute("href");
				let name = link.getAttribute("name");
				return { layer, href, name };
			}
		};
		article.childNodes.forEach(function (nd) {
			let name = nd.nodeName.toLowerCase();
			switch (name) {
				case "h1":
					nodeList.push(parse(1, nd));
					break;
				case "h2":
					nodeList.push(parse(2, nd));
					break;
				case "h3":
					nodeList.push(parse(3, nd));
					break;
				case "h4":
					nodeList.push(parse(4, nd));
					break;
				default: break;
			}
		});
		console.log(nodeList);

		var list = document.getElementById("toc");
		var listIndex = 0;
		var currentNode = list;

		nodeList.forEach(function (elememt) {
			while (elememt.layer > listIndex) {
				let cld = document.createElement("ul");
				currentNode.appendChild(cld);
				currentNode = cld;
				listIndex++;
			}
			while (elememt.layer < listIndex) {
				currentNode = currentNode.parentNode;
				listIndex--;
			}
			let li = document.createElement("li");
			let a = document.createElement("a");
			a.innerText = elememt.name;
			a.href = elememt.href;
			li.appendChild(a);
			currentNode.appendChild(li);
		});
	}
	generateTOC();
</script>
<%- include _footer %>